
body {
  background-color: #dadada;
  font-size: 16px;
}

.container {
  margin: 0 auto;
  width: 80%;
  margin-left: 40px;
}

h1 {
  height: 40px;
  font-family: sans-serif;;
  font-size: 100%;
  padding-top: 10pt;
  padding-left: 10pt;
}

.preview {
height: 250px;
width: 70%;
background-size: cover;
background-repeat: no-repeat;
}

.baku {
  background-image: url("baku.jpg");

}

.london {
background-image:
     url("london.png");

   }

.madrid {
  background-image: url("madrid.jpg");

}

.rome {
  background-image: url("rome.jpg");

}


/* For taplets */
@media screen and (min-width: 575px) {
  .preview {
  display: inline-block;
  width: 40%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  }
}


/* For laptops */
@media screen and (min-width: 1025px) {
  .preview {
  display: inline-block;
  width: 20%;
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  }
}
