body {
  background-color: #dadada;
  font-size: 10px;
}

h1 {
  height: 40px;
  font-family: sans-serif;;
  font-size: 100%;
  padding-top: 10pt;
  padding-left: 10pt;
}

.preview-baku {
width: 196px;
height: 136px;
  background-image:
      url("baku.jpg");
background-size: contain;
background-repeat: no-repeat;
}

.preview-london {
  margin-top: 20px;
width: 196px;
height: 136px;
  background-image:
      url("london.png");
background-size: contain;
background-repeat: no-repeat;
}

.preview-madrid {
  margin-top: 20px;
width: 196px;
height: 136px;
  background-image:
      url("madrid.jpg");
background-size: contain;
background-repeat: no-repeat;
}

.preview-rome {
width: 196px;
height: 136px;
  background-image:
      url("rome.jpg");
background-size: contain;
background-repeat: no-repeat;
}

/* For taplets */
@media screen and (min-width: 575px) {
  .container {column-count: 2;
    margin: 1%;
     width: 48%;}
}

/* For laptops */
@media screen and (min-width: 1025px) {
  .container {column-count: 4;
    margin: 1%;
   width: 48%;}
}
